@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-background: #101521;
  --dark-backgroundalt: #171d2d;
  --dark-secondary: #2e3a59;
  --primary: #136ac1;
  --dark-textsecondary: #878a92;
  --danger: #ff6262;
  --primarycontent: #fff;
  --light-backgroundalt: #f4f7fd;
  --light-textsecondary: #828282;
  --light-secondary: #e0e4ed;
  --light-gray: #e6e7ed;
  --dark-gray: #1e212a;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari и Opera */
}
